body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pixelCanvas {
    border: 1px solid #000;
}

#colorPicker {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

#colorPicker button {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: none;
    cursor: pointer;
}
