body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
}

#code-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.content-inner {
    background-color: #272822;
    padding: 20px;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #61dafb;
    margin: 0 auto 20px auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.description {
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards 1s;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #61dafb;
    border-radius: 5px;
    transition: background-color 0.3s;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.btn:nth-child(1) {
    animation-delay: 2s;
}

.btn:nth-child(2) {
    animation-delay: 3s;
}

.btn:hover {
    background-color: #21a1f1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Медиазапросы */

@media (max-width: 768px) {
    #code-container {
        padding: 20px;
    }

    .content-inner {
        padding: 15px;
        max-width: 320px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .btn {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .content-inner {
        padding: 10px;
        max-width: 280px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .btn {
        padding: 6px 12px;
    }
}
